* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.hero {
  background-color: #1f2937;
  height: 30vh;
}

.info {
height: 20vh;
font-size: 24px;
background-color: gray;
}

.inspire{
  background-color: #3064cc;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  height: 30vh;
  
}


.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.hero h2 {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}